.menu{
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;

}

.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #ff2978;
    border-top: 4px solid #180f4a;}